@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #000624;
  color-scheme: dark;
}

@layer components {
  /* main */
  .main-container {
    @apply flex flex-1 h-full bg-dark;
  }

  .sidebar {
    @apply h-full flex justify-between bg-lighter flex-col w-[300px] pt-20 pl-10 pb-8;
  }

  .sidebar__item {
    @apply flex flex-row h-auto items-center w-full gap-x-4 font-medium cursor-pointer hover:text-blue-accent transition py-1 text-main-text;
  }

  .sidebar__item-logout {
    @apply flex flex-row h-auto items-center w-full gap-x-4 font-medium cursor-pointer hover:text-status-red transition py-1 text-main-text;
  }

  .input {
    @apply bg-transparent text-main-text w-72 block px-4 py-3 rounded-lg border border-solid border-secondary-text focus:outline-none;
  }

  .main-btn {
    @apply bg-blue-accent text-main-text w-72 block px-4 py-3 rounded-lg focus:outline-none hover:opacity-90 transition;
  }
}
