@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #000624;
  color-scheme: dark;
}

@layer components {
  .main-container {
    @apply flex justify-center flex-1 h-full w-full bg-dark pl-12 pt-16;
  }

  .sidebar {
    @apply h-full flex justify-between bg-lighter flex-col w-[300px] pt-20 pl-10 pb-8;
  }

  .sidebar__item {
    @apply flex flex-row h-auto items-center w-full gap-x-4 text-lg font-medium cursor-pointer hover:text-blue-accent transition py-1 text-main-text;
  }

  .sidebar__item-logout {
    @apply flex flex-row h-auto items-center w-full gap-x-4 text-lg font-medium cursor-pointer hover:text-status-red transition py-1 text-main-text;
  }

  .auth-form {
    @apply w-[600px] h-min py-12 px-16 bg-lighter rounded-lg;
  }

  .input {
    @apply bg-transparent text-main-text w-96 block px-4 py-3 rounded-lg border border-solid border-secondary-text focus:outline-none;
  }

  .main-btn {
    @apply bg-blue-accent text-main-text w-96 block px-4 py-3 rounded-lg focus:outline-none hover:opacity-90 transition;
  }

  .header-1 {
    @apply text-main-text text-2xl font-semibold;
  }

  .p {
    @apply text-secondary-text text-base font-light;
  }

  .task-card {
    @apply bg-lighter flex flex-col justify-between w-80 h-56 p-6 rounded-xl cursor-pointer hover:shadow-lg hover:shadow-blue-500/50 transition;
  }

  .task-card__title {
    @apply text-main-text font-bold text-lg;
  }

  .task-card__date {
    @apply text-secondary-text text-sm font-light text-nowrap pb-3 flex items-center gap-x-1;
  }

  .task-card__status {
    @apply bg-status-green rounded-full w-2.5 h-2.5;
  }

  .task-card__description {
    @apply text-main-text pb-4 leading-5 font-light;
  }

  .task-card__tag {
    @apply text-blue-accent;
  }
}
